/* https://material.io/resources/color */
:root {
    --md-primary-fg-color:        #C32823;
    --md-primary-fg-color--light: #fd5e4c;
    --md-primary-fg-color--dark:  #8b0000;
    --md-accent-fg-color: #007CB7;
}

.md-content a {
    text-decoration: underline;
}

img.screen {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-of-two {
    display: flex;
}
  
.column {
    flex: 50%;
}