version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  # Maintain dependencies for Python
  - package-ecosystem: "pip"
    directory: "/.devcontainer/mkdocs-edu"
    schedule:
      interval: "daily"

  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/.devcontainer"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/.github
    schedule:
      interval: "daily"