nav:
    - index.md
    - install.md
    - devcontainer.md
    - reopen.md
    - first-site.md
    - theme.md
    - publishing.md
    - including.md
    - incremental.md
    - releasing.md
    - advanced.md
    - update.md